/*00,02*/
:root {
  --pimary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--pimary-color);
  letter-spacing: 0.03em;
}

.logo-style {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin: auto 95px auto 215px;
}

.header-contacts,
.nav-list,
.benefits-list,
.our-job-item,
.our-job-item-last,
.our-team-list,
.contacts-link,
.address,
.button-list,
.portfolio-list {
  list-style: none;
}

.logo,
.contacts-link,
.header-contacts,
.footer-logo,
.contacts-link-header,
.address-mail,
.address-tel {
  text-decoration: none;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contacts-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--pimary-color);
}

.contacts-link-header:hover,
.contacts-link-header:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  background-color: #2f303a;
  box-sizing: border-box;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero .button:hover,
.hero .button:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

.benefits-hiden,
.title-hiden {
  display: none;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pimary-color);
}

/* Чем мы занимаемся */

.our-job-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.our-job-list {
  display: flex;
}

.our-job-item {
  margin-right: 30px;
}

/*.our-job-item-last {}*/

/* our team */
/* Наша команда */

.our-team {
  background-color: #f5f4fa;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-color);
}

.our-team-item,
.our-team-item-last {
  background: #ffffff;
}

.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--pimary-color);
}

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
}

.post-adress {
  list-style: none;
  padding-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-mail {
  color: rgba(255, 255, 255, 0.6);
}

.address-mail {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-tel {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

/* Портфолио */
/*список кнопок фильтра*/

.cards {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  height: 38px;
  color: var(--secondary-color);
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.pf-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--pimary-color);
}
